body {
  background: linear-gradient(
    90deg,
    white 20%,
    red 20%,
    red 25%,
    white 25%,
    white 50%,
    red 50%,
    red 55%,
    white 55%,
    white 75%,
    red 75%
  );
  background-size: 90px;
  justify-content: center;
  font-family: "Allan", cursive;
}

.header {
  text-align: center;
  background: white
  padding: 10px;
  text-align: center;
  width: 200px;
  height: 200px;
  background: white;
  border: red 10px solid;
  border-radius: 200px;
  align-content: center;
  margin: 0 auto;
  margin-bottom: 20px;
}


#button-row {
  overflow: hidden;
  background: white;
  justify-content: center;
  align-items: center;
  background: red;
  border: white 2px solid;
  margin-bottom: 20px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

button {
  text-align: center;
  font-size: 2em;
  background: none;
  margin: 2px;
  align-items: center;
  border: none;
  align-content: center;
  font-family: "Allan", cursive;
}

h3 {
    color: red
}

.container {
  display: flex;
}

#summary {
  align-items: center;
}

#grandparentdiv {
  display: flex;
  margin: 10px 0;
}

#parentdiv {
  padding-left: 20px;
  background: white;
  border: black 5px solid;
}
